/debug/
/release/
/config.log
/config.status
/Makefile
/ppl7-config
/autom4te.cache
/PPL7.config
/PPL7.creator
/PPL7.creator.user
/PPL7.files
/PPL7.includes
/x64/
/documentation/
/.settings/
.vscode/
/ppl7.cflags
/ppl7.config
/ppl7.creator
/ppl7.creator.user
/ppl7.cxxflags
/ppl7.files
/ppl7.includes
