/Makefile
/compile
/test_detail.xml
/testsuite
/testsuite.core
/tmp/
/dbtest
/loggertest
/threadtest
/gfxreftest
/isolated/
/stringspeed
/pixeltest.png
/testresult_core.xml
/googletest/
/test_audio
/test_core
/test_crypto
/test_database
/test_grafix
/test_inet
/test_ppl6
*.exe
*.tmp
